@import "../../scss/variebles";
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: $color-text;
  background-color: transparent;
  @include text-regular();
  &--brand {
    background-color: $color-blue;
  }
  &--secondary {
    background-color: #37404C;
  }
  &--active {
    background: #0095C8;
  }
}