.game-market {
  &__title {
    margin-bottom: 25px;
  }
  &__row {
    gap: 15px;
  }
  &__wrap {
  }
  &__inner {
    position: relative;
  }
  &__cart {
    position: absolute;
    height: 100%;
    top: 0;
  }
}